<section class="index-page">
  <img src="{{ user.avatar }}" alt="Avatar" class="avatar">
  <h1>
    Hello {{ user.firstName }} {{ user.lastName }}!
  </h1>
  <a href="{{ logoutLink }}">Logout</a>
</section>